QDRANT_HOST=http://localhost:6333
QDRANT_COLLECTION=ai_talent_hub

LLM__NAME=gpt-4o-mini
LLM__BASE_URL=https://api.openai.com/v1
LLM__KEY=your_llm_api_key
LLM__TIMEOUT=60
LLM__MAX_RETRIES=2

EMBEDDER__NAME=text-embedding-3-small
EMBEDDER__BASE_URL=https://api.openai.com/v1
EMBEDDER__KEY=your_embedder_api_key
EMBEDDER__TIMEOUT=60
EMBEDDER__MAX_RETRIES=2
